html {
  height: 100%;
}

body {
  font-family: OpenSans, Helvetica, Arial, sans;
  height: 100%;
  margin: 0;
  text-align: center;
}

div.wgf-card {
  background-color: #26293e;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

div.wgf-card div.wgf-card-content {
  background-color: #fff;
  height: 100%;
  width: 100%;
}

img.wgf-card-image {
  image-rendering:-webkit-optimize-contrast; /* Safari */
  image-rendering:pixelated;                 /* Chrome */
  width: 100%;
}

div.wgf-card-content p {
  font-size: 120%;
  margin: 0.5em;
  padding: 0.5em;
  text-align: left;
}

div#wgf-menu-button {
  left: 2px;
  position: absolute;
  top: 2px;
}

div#wgf-next-button {
  position: absolute;
  right: 2px;
  top: 2px;
}

/* Ghost Buttons
 * http://www.htmlxprs.com/post/50/bootstrap-ghost-buttons
 */
.btn{
	background-color: rgba(255, 255, 255, 0.6);
	color: black;
	transition: background .2s ease-in-out, border .2s ease-in-out;

}