html {
  height: 100%;
}

body {
  font-family: OpenSans, Helvetica, Arial, sans;
  height: 100%;
  margin: 0;
  text-align: center;
}

div.wgf-card {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

div.wgf-card div.wgf-card-content {
  background-color: #fff;
  height: 100%;
  width: 100%;
}

img.wgf-card-image {
  image-rendering:-webkit-optimize-contrast; /* Safari */
  image-rendering:pixelated;                 /* Chrome */
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

div.wgf-card-text {
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 4em;
  max-width: 100%;
  position: absolute;
  right: 0px;
  width: 30em;
}

@media (min-aspect-ratio: 1/1) {
  img.wgf-card-image {
    height: 100%;
    width: auto;
  }
}

div.wgf-card-content p {
  font-size: 120%;
  margin: 0.5em;
  padding: 0.5em;
  text-align: left;
}

div#wgf-menu-button {
  left: 2px;
  position: absolute;
  top: 2px;
}

div#wgf-next-button {
  bottom: 4px;
  position: absolute;
  right: 4px;
}