argcomplete==3.3.0
Babel==2.15.0
blinker==1.8.2
click==8.1.7
colorlog==6.8.2
distlib==0.3.8
filelock==3.14.0
flake8==7.0.0
Flask==3.0.3
flask-babel==4.0.0
Frozen-Flask==1.0.2
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mccabe==0.7.0
nox==2024.4.15
nox-automation==2019.5.13
packaging==24.0
platformdirs==4.2.1
pycodestyle==2.11.1
pyflakes==3.2.0
pytz==2024.1
virtualenv==20.26.1
Werkzeug==3.0.3
