<!DOCTYPE html>
<html>
<title>Who Goes First?</title>
<link rel="stylesheet" href="/index.css" type="text/css">

<div class="wgf-card">
  <div id="wgf-card-content" class="wgf-card-content">
    <img src="/assets/cards/{{ card_image }}" class="pixel-art wgf-card-image">
    <div class="wgf-card-text">{{ card_description }}</div>
  </div>
  <div id="wgf-next-button">
    <a href="/random-card/">
    <img id="wgf-next-button-img" src="/assets/buttons/arrow_right.svg" alt="Next Card"><br>
    </a>
  </div>
</div>
