<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block card_title %}{% endblock %}</title>

<!-- This Source Code Form is subject to the terms of the Mozilla Public
     License, v. 2.0. If a copy of the MPL was not distributed with this
     file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<link rel="stylesheet" href="/static/index.css" type="text/css">
{% for lang in translations %}
<link rel="alternate"
    hreflang="{{ lang }}"
    href="{{ translations[lang]['url'] }}">
{% endfor %}

<label for="wgf-menu-toggle" id="wgf-menu-toggle-label">
  <img src="/static/icons/menu.svg" alt="Toggle menu" id="wgf-menu-toggle-icon">
</label>
<input type="checkbox" id="wgf-menu-toggle"></input>
<div id="wgf-menu">
  <ul>
  {% for lang in translations|sort %}
    <li>
      <a href="{{ translations[lang]['url'] }}">{{ translations[lang]['name'] }}</a>
    </li>
  {% endfor %}
  </ul>
</div>

<div class="wgf-card">
  {% block base_body %}
  {% endblock %}
</div>

<div class="wgf-footer">
  {{_('Who Goes First is free and open source. It\'s not free to run, though.
  Consider <a href="/en/contribute/">contributing</a> to the project. If this
  page is not in your language, you can help
  <a href="https://github.com/whogoesfirst/who-goes-first/blob/master/docs/TRANSLATING.md">translate</a>
  it.' | safe)}}

  <p>© Who Goes First
  <a href="https://github.com/whogoesfirst/who-goes-first/commit/0579f2821e8c1e4496782170b91a1cfcb9e883d8">2015</a>-2017
  | <a href="/{{g.language}}/">{{_('Home')}}</a>
  | <a href="/{{g.language}}/privacy/">{{_('Privacy')}}</a>
  | <a href="/{{g.language}}/contribute/">{{_('Contribute')}}</a>
  | <a href="/{{g.language}}/help/">{{_('Help')}}</a>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ google_analytics_id }}', 'auto');
  ga('send', 'pageview');
</script>
