{% extends "base/base.html" %}
{# This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% set is_about_card = request.endpoint.startswith('about_') %}

{% block base_body %}
<div id="wgf-card-content" class="wgf-card-content">
{% block card_body %}
{% endblock %}
</div>

{% if is_about_card %}
  {# len('about_') == 6, so we remove that to get to the card #}
  <p><a href="{{ url_for(request.endpoint[6:]) }}">
  {{_('Back to the card.')}}
  </a>
{% else %}
  <div id="wgf-next-button">
    <a id="wgf-next-button-link"
        href="/{{g.language}}/{{global_translations[g.language]['translations']['random-card']}}/">
    <img id="wgf-next-button-img"
        src="/static/buttons/arrow_right.svg" alt="{{_('Get the next card.')}}">
    </a>
  </div>
  <p><a href="{{ url_for('about_' + request.endpoint) }}">
  {{_('About this card.')}}
  </a>

  <script src="/static/js/wgf.js"></script>
  <script src="/static/js/index.js"></script>
  <script>
    wgf.index.loadDeck('{{g.language}}')
  </script>
{% endif %}

{% block card_scripts %}{% endblock %}
{% endblock %}
