{% extends "base/card.html" %}
{# This Source Code Form is subject to the terms of the Mozilla Public
   License, v. 2.0. If a copy of the MPL was not distributed with this
   file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% block card_title %}{{_('Pencil sharpening card.')}}{% endblock %}

{% block card_body %}
<img src="/static/cards/sharpen.jpg"
  alt="a teacher sharpening a feather pen"
  class="wgf-card-image">

<p>{{_('The player who has sharpened the most pencils in the past year goes
first.')}}

{% endblock %}
