{% extends "card.html" %}
{% block card_body %}
  <p>{{_('Have you played a board game but didn\'t like the recommended way to
  choose the first player? Is your gaming group bored with throwing dice
  to choose? Who Goes First is a new way to choose the first player.')}}

  <p>{{_('Open it and get a random card. It could be interactive or have your
  friends tell the best story. Use it to pick the next player, or if you
  don\'t like it: tap the arrow to get a new card.')}}

  {% autoescape false %}
  <p>{{_('Subscribe to our <a href="http://tinyletter.com/whogoesfirst">mailing
  list</a> to be the first to find out about updates like new cards.')}}
  {% endautoescape %}

  <p>{{_('Who Goes First is a project of
  <a href="http://www.timswast.com">Timothy</a> and
  <a href="http://swast.net/alexandra/">Alexandra Swast</a> and our
  friends, born out of our love for board games.')}}
{% endblock %}
